body{
    font-family: 'Tahoma';
    background:#111;
    color:white;
    margin:0;
    text-align:center;
}
header{
    background:black;
    color:gold;
    padding:25px;
    box-shadow:0 4px 20px rgba(255,215,0,0.3);
}
.products{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
    padding:30px;
}
.product{
    background:#1c1c1c;
    padding:15px;
    border-radius:15px;
    width:220px;
    box-shadow:0 5px 15px rgba(255,215,0,0.2);
    transition:0.3s;
}
.product:hover{
    transform:scale(1.05);
}
button{
    background:gold;
    border:none;
    padding:10px 20px;
    cursor:pointer;
    border-radius:8px;
    font-weight:bold;
}
.order-box{
    background:#1c1c1c;
    margin:30px auto;
    padding:25px;
    width:350px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(255,215,0,0.3);
}
input, select{
    width:90%;
    padding:10px;
    margin:8px;
    border-radius:8px;
    border:none;
}
.final{
    color:gold;
    font-size:20px;
    font-weight:bold;
}
.track-btn{
  background: gold;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
.track-btn:hover{
  background: darkgoldenrod;
}